# "crash course python"

In [2]:
"hello"
print("gudio van rossum")

gudio van rossum

In [9]:
# variables
#to store the data in the memory
age=22 ##integer
a=24.0 ##float
b=True ##boolean
print(age)
print(a)
print(b)
name="hello"##string
print(name)
##other data types also available in python such as dictonary,list,tuples,set ,,,,,
##list tuple and string are known as sequence data type

22
24.0
True
hello

In [2]:
#to take input from the user then we use input() function
nam=input("my name is")
print(nam)

my name isshoyab
shoyab

In [21]:
#type conversion
old_age=int(input("enter old age:")) #here we use int becuase by default it will take string
new_age=old_age+2
print(new_age)
new_string=input("new string is :")
old_string=new_string  + "  "+"hello"
print(old_string)

enter old age:12
14
new string is :shoyab
shoyab  hello

In [24]:
#strings
name="Tony"
print(name.upper()) #to convert all upper case
print(name.lower()) #to conert all lower case 
print(name.find("o")) #to check whether the letter is available in the given string return 1 esle return -1
print(name.replace("Tony","ironman")) #replace the string or charecters
print(name.replace("n","s"))
print("m" in name)#to check it is avilable in the given string
print("o" in name)#if it is it return True else False

TONY
tony
1
ironman
Tosy
False
True

In [36]:
#operators
##arithmetic operators +,-,*,%,/,//....
##assignment operators +=,-=,*=,%=....
##comaprison operators ==,!=,>=,<=
##logical operators and,or,not
##identiy operators is:returns True if same value present in the obect esle False
##bitwise operators &,|,~,^,<<,>>...
### operator precendece
result=2+3*5/5
print(result)
print(3>2)
print(3&2)
print(3>>2)
print(~3)
print(3>2 and 2>3)
print(3>2 or 2>3)
print(not 2>3)

5.0
True
2
0
-4
False
True
True

In [61]:
#conditional statements:: if else
age=12
if age<2:#here : is used as {} which is ued in c,c++ and parathesis not required like in c ex if()
    print("You are adult")#identation 4 steps  
elif age>5:
    print("you are in school")
else:    
    print("else")
print("thank you") #out of conditional statement

you are in school
thank you

In [64]:
#to build a claculator
number1=int(input("enter first number :"))
operator=input("enter operator +,-,*,%,/")
number2=int(input("enter second number :"))
if operator=="+":
    print(number1+number2)
elif operator=="-":
    print(number1-number2)
elif operator=="*":
    print(number1*number2)
elif operator=="/":
    print(number1/number2)
elif operator=="%":
    print(number1%number2)
else:
    print("enter correct operator")

print("THANK YOU")

enter first number :12
enter operator +,-,*,%,/*
enter second number :12
144
THANK YOU

In [67]:
#loops
##range
print(range(5)) #range is a keyword which retuerns sequence of return
print(range(1,100))

range(0, 5)
range(1, 100)

In [8]:
#while loop
i=5
while i>=0:
    print(i*"*") #multiply a number with string gives multplication of string
    i=i-1   #cannot be supported + -....

*****
****
***
**
*

In [10]:
i=1
while i<=5:
    print(i*"*")
    i+=1

*
**
***
****
*****

In [12]:
#for loop
for i in range(5): #0 to 4
    print(i)

0
1
2
3
4

In [23]:
#non primitive data type
#lists
## list =collcetion of ordered data. It is mutable
marks=[97,98,99,98] #[] square brackets are used
print(marks)
age=["hello",14,19,20]
print(age)
print(age[1])
print(age[2])
print(age[1:3])
for score in marks:
    print(score)
marks.append(99)    #to add element in the last
print(marks)
marks.insert(2,99) #to add element at any location
print(marks)

[97, 98, 99, 98]
['hello', 14, 19, 20]
14
19
[14, 19]
97
98
99
98
[97, 98, 99, 98, 99]
[97, 98, 99, 99, 98, 99]

In [26]:
#break and continue
lists=["a","b","c","d","e"]
for students in lists:
    print(students)
    if students=="c":
        break  #to terminate loop

a
b
c

In [30]:
for students in lists:
    if students=="b":
        continue   #to jump to another iteration
    print(students)

a
c
d
e

In [37]:
#tuple
#tuple is collection of ordered data it is immutable and repetable
tuples=(1,2,3,4,5) #to determine we use paratensis ===()
print(tuples)
print(tuples.count(2))
print(tuples.index(5))

(1, 2, 3, 4, 5)
1
4

In [45]:
#sets are collectiion of unordered data which are mutable
#items cannot be chagable or replaced but we can add new items or we can remove
#curley braces are used {}
marks={1,2,3,4,"hello","bac",55,55,"hello","abc"} #store unique values and cannot be accesed by idex
print(marks)
for students in marks:
    print(students)

{1, 2, 3, 4, 'hello', 'bac', 55, 'abc'}
1
2
3
4
hello
bac
55
abc

In [52]:
#dictonaries are used to store data vallues in key:value pairs
#it is ordered data ,changable and do not allow duplicants
#stored in curley braces {}
dicts={
    "fgr":2,"edf":4,"abc":6,"cde":9,"mkl":7}
print(dicts)
print(dicts["abc"])
print(type(dicts))
print(len(dicts))

{'fgr': 2, 'edf': 4, 'abc': 6, 'cde': 9, 'mkl': 7}
6
<class 'dict'>
5

In [87]:
#arrays are collection of same ordered data items
#arrays in python are commonly implemeted using list

In [57]:
#functions ==set of block which perform specific operations
##1 inbuilt functions == which already exists in python such as int() print() type()
##2 module functions ==using import we can use such as import math
import math
print(dir(math))
from math import sqrt
print(sqrt(4))
from math import *
print(tan(60))
print(gamma(4))
print(gcd(5,7))
##3 user defined functions

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
2.0
0.320040389379563
6.0
1

In [61]:
#user define fuctions are we can define in the code
#syntax def function_name(parametrs):
def sum(x,y):
    print(x+y)
sum(2,5)

7